
*.class
Game/.classpath
Game/.classpath
Game/.classpath
Game/src_Paszkal/.project
Game/src_Paszkal/.classpath
Game/src_Némó/.classpath
Game/src_Matyi/.project
Game/src_Némó/.project
Game/src_Matyi/.classpath
Game_dev/.classpath
*.prefs
/.metadata/
